---
const pageTitle = "About";

const identity = {
    firstName: "Bekir",
    country: "Istanbul,Turkey / Chicago, USA",
    occupation: "Computer Science Student",
    hobbies: ["skateboarding", "reading", "coding", "writing", "Philosophy", "Economics", "Finance"],
};

const skills = ["HTML", "CSS", "JavaScript", "Typescript", "React", "Writing Docs"];

import BaseLayout from '../layouts/base.astro';
---

<BaseLayout pageTitle={pageTitle}>

    <h1>About Me</h1>
    I am a Computer Science student who is into *JS Ecosystem* too much.
    <h2>Identity</h2>
    <ul>
        <li>First Name: {identity.firstName}</li>
        <li>Country: {identity.country}</li>
        <li>Occupation: {identity.occupation}</li>
        <li>Hobbies: {identity.hobbies.join(", ")}</li>
    </ul>

    <h2>Skills</h2>
    <ul>
        {skills.map((skill) => (
                <li>{skill}</li>
        ))}
    </ul>
</BaseLayout>