---
import Navigation from '../components/Navigation.astro';

const allPosts = await Astro.glob('./posts/*.md');

//  {name,usageCount,slug} => {name: TagName, count: usageCount}
const tags = allPosts
    .flatMap(post => post.frontmatter.tags)
    .reduce((acc, tag) => {
        const existingTag = acc.find(t => t.name === tag);
        if (existingTag) {
            existingTag.count++;
        } else {
            acc.push({name: tag, count: 1});
        }
        return acc;
    }, [])
    .sort((a, b) => b.count - a.count);

const pageTitle = "About";

const identity = {
    firstName: "Bekir",
    country: "Istanbul,Turkey / Chicago, USA",
    occupation: "Computer Science Student",
    hobbies: ["skateboarding", "reading", "coding", "writing", "Philosophy", "Economics", "Finance"],
};

const skills = ["HTML", "CSS", "JavaScript", "Typescript", "React", "Writing Docs"];
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{pageTitle}</title>
</head>
<body class="dark:text-white dark:bg-neutral-900">

<Navigation/>
<div class="max-w-screen-md mx-auto prose prose-invert mt-24">

    <h1>About Me</h1>
    I am a Computer Science student who is into *JS Ecosystem* too much.
    <h2>Identity</h2>
    <ul>
        <li>First Name: {identity.firstName}</li>
        <li>Country: {identity.country}</li>
        <li>Occupation: {identity.occupation}</li>
        <li>Hobbies: {identity.hobbies.join(", ")}</li>
    </ul>

    <h2>Skills</h2>
    <ul>
        {skills.map((skill) => (
                <li>{skill}</li>
        ))}
    </ul>

</div>
</body>
</html>