---
export async function getStaticPaths() {

    // get all the markdown files in the posts dir
    const posts = await Astro.glob('../posts/*.md');

    // get every tag in the markdown files
    // Very good example for set theory
    const tags = new Set();

    // tags are stored in the frontmatter.tags string array
    posts.forEach((post) => {
        post.frontmatter.tags.forEach((tag) => tags.add(tag));
    });

    return Array.from(tags).map((tag) => ({params: {tagSlug: tag}}));
}


const {tagSlug} = Astro.params;
const posts = await Astro.glob(`../posts/*.md`);

const tagPosts = posts.filter((post) => post.frontmatter.tags.includes(tagSlug));
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Pulth</title>
</head>
<body class="dark:text-white dark:bg-neutral-900">

<div class="max-w-screen-md mx-auto">
    <!--List Tags-->

    <h1 class="text-3xl font-bold">Posts tagged with {tagSlug}</h1>

    <ul>
        {tagPosts.map((post) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
        ))}
    </ul>

</div>

</body>
</html>


