---
import Navigation from "../components/Navigation.astro";
const {frontmatter} = Astro.props;
---

<html>
<head>
    <link rel="icon" type="text/svg+xml" href="/favicon.svg"/>

    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content="built with Astro and curiosity"/>

    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description}/>
    <meta name="author" content="Bekir Gulestan"/>
    <meta name="tags" content={frontmatter.tags.join(", ")}>
</head>
<body class="dark:text-white dark:bg-neutral-900">

<Navigation hide="hide"/>
<main class="max-w-screen-md mx-auto prose dark:prose-invert mt-24">
    <slot/>
    <!--    Render tags-->
    <div class="mt-8">
        <ul class="flex flex-wrap gap-x-2">
            {frontmatter.tags.map((tag) => (
                    <a class="tracking-wide underline hover:text-neutral-900 dark:hover:text-neutral-100 text-neutral-500"
                       href=`/tags/${tag}`>#{tag}</a>
            ))}
        </ul>
    </div>
</main>

</body>
</html>
